body {
    font-family: 'Roboto', sans-serif;
}

#map {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgb(127, 127, 127);
    box-shadow: inset -4px 0px 4px -4px black;
}

#options {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 32px;
}

    #colors {
        width: 0px;
        height: auto;
        border: 1px solid black;
    }

    #copyright {
        right: 16px;
        bottom: 16px;
        padding-top: 16px;
        font-size: 12px;
        text-align: center;
    }